div {
  width: 800px;
  background-color: red;
}


@media only screen and (min-width: 320px) {
  div {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 769px) {
  div {
    background-color: purple;
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  div {
    background-color: lightgreen;
  }
}